html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #223422;
  display: flex;
  overflow: hidden;
}
#clock{
  font-size: 4em;
  margin: auto;
  border-bottom-style: ridge;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
